.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  &--open {
    opacity: 1;
    visibility: visible;
  }
  &__dimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  }
  &__content-inner {
    padding: 20px;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px;
  }
}
